@media(max-width: 678px){

    .btn1 {
        /* margin:200px; */
        background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #3D3E40);
        background-image: -moz-linear-gradient(top, #000000, #3D3E40);
        background-image: -ms-linear-gradient(top, #000000, #3D3E40);
        background-image: -o-linear-gradient(top, #000000, #3D3E40);
        background-image: -webkit-gradient(to bottom, #000000, #3D3E40);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        color: #FFAE00;
        font-family: Verdana;       
        font-size: 40px;
        font-weight: 100;
        padding: 40px;
        -webkit-box-shadow: 1px 1px 20px 0 #000000;
        -moz-box-shadow: 1px 1px 20px 0 #000000;
        box-shadow: 1px 1px 20px 0 #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #FFAE00 2px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     
     .btn1:hover {
        border: solid #FFFFFF 2px;
        background: #3D3E40;
        background-image: -webkit-linear-gradient(top, #3D3E40, #000000);
        background-image: -moz-linear-gradient(top, #3D3E40, #000000);
        background-image: -ms-linear-gradient(top, #3D3E40, #000000);
        background-image: -o-linear-gradient(top, #3D3E40, #000000);
        background-image: -webkit-gradient(to bottom, #3D3E40, #000000);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        text-decoration: none;
     }
}


@media (max-width: 1920px) {

    html{
        width: 100%;
        height: 100vh;
        /* background-color: goldenrod; */
        background-image: url("./images/wood.jpg");
    }
    .button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn1 {
        margin:4px;
        /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(59,59,58,1) 100%); */
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,79,78,1) 100%);
        border-radius: 100px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        color: #FFAE00;
        font-family: Verdana;        
        font-size: 1.5rem;
        font-weight: 100;
        padding: 40px;
        -webkit-box-shadow: 11px 16px 20px 0 #000000;
        -moz-box-shadow: 11px 16px 20px 0 #000000;
        box-shadow: 11px 16px 20px 0 #000000;
        text-shadow: 1px 1px 20px #000000;
        /* border: solid #FFAE00 2px; */
        border: solid #373736 3px;

        text-decoration: none;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        
     }
     span {
        display: flex;
        flex-direction: row;
        padding: .3rem;
    }
     
     .btn1:hover {
        border: solid #373736 3px;
        transform: scale(0.9);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,79,78,1) 100%);
        background-image: -webkit-linear-gradient(top, #3D3E40, #000000);
        background-image: -moz-linear-gradient(top, #3D3E40, #000000);
        background-image: -ms-linear-gradient(top, #3D3E40, #000000);
        background-image: -o-linear-gradient(top, #3D3E40, #000000);
        background-image: -webkit-gradient(to bottom, #3D3E40, #000000);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        text-decoration: none;
     }


}